<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>${user.home}/.m2/repository</localRepository>
  <pluginGroups>
    <!-- 定义插件组 -->
  </pluginGroups>
  <proxies>
    <!-- 定义代理设置 -->
  </proxies>
  <servers>
    <!-- 定义服务器设置 -->
  </servers>
  <mirrors>
    <!-- 定义镜像仓库 -->
    <mirror>
      <id>default</id>
      <url>https://repo.huaweicloud.com/repository/maven/</url>
      <!-- 表示拦截默认的central仓库，如果设置为*则拦截所有仓库。 -->
      <mirrorOf>central</mirrorOf>
    </mirror>
      <mirror>
          <id>aliyunmaven</id>
          <url>https://maven.aliyun.com/repository/central</url>
          <!-- 表示拦截默认的central仓库，如果设置为*则拦截所有仓库。 -->
          <mirrorOf>central</mirrorOf>
      </mirror>
  </mirrors>
</settings>